<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body class="main_body_everyehere">

    <ion-pane>
      <!-- <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar> -->
      <ion-content>

        <div text-center class="header_app_font">
          <a href="index.html">
            &nbsp;&nbsp;&nbsp;<span class="ion-chevron-left"></span><span class="ion-chevron-left"></span>
          </a>
          &nbsp;&nbsp;&nbsp; List Of Patients
        </div>

        <hr style="height:1px; margin: 5%;"/>

        <div ng-app="myApp" ng-controller="afterloginCtrl">

          <div ng-repeat="n in data_retrived_patient">
            <div class="card">
              <div style="padding: 3%;font-size:120%;">
                Patient Name : {{n.patientName}} <br />
                Patient Disease : {{n.expectedDisease}} <br />
                Suffering From : {{n.daysOfSuffering}} days <br />
                <div style="font-size:130%;padding:3%;padding-left:0%;">
                  {{n.appointmentDone}}
                </div>
              </div>
              <div class="item item-divider">
                <div  style="float:right; padding-right:1%;">
                  <div class="button button-positive" ng-click="details(n._id , n.patientName , n.patientLocation , n.patientMobileNo , n.patientEmail)"> Make Appointment </div>
                  <div class="button button-positive" ng-click="deletedata(n._id , n.patientLocation);"> Delete </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ion-content>
    </ion-pane>
  </body>

</html>
